
%table
  %tbody
    -@items.each do |item|
      -id = item["id"]
      %tr
        %td.img
          %a{:href=>"/item/#{item["slug"]}"}
            -if item["images"] and item["images"].any?
              %img{:src=>"/img/items/#{id}/t#{item["images"][0]}"}
            -else
              %img{:src=>"/img/noway.png"}
        %td.info
          %h4
            %a{:href=>"/item/#{item["slug"]}"}
              %strong= item["name"]
          %p= item["headline"]
          %p.tags
            %strong
              %a{:href=>"/c/#{item["category"]}"}
                =item["category"]
            -item["tags"].each do |tag|
              %span
                %a{:href=>"/t/#{tag}"}
                  =tag


