%a{:href=>"/"} Back to list
.clearfix
  .pull-right
    %p.tags
      %strong
        %a{:href=>"/c/#{@item["category"]}"}
          =@item["category"]
      -@item["tags"].each do |tag|
        %span
          %a{:href=>"/t/#{tag}"}
            =tag

    %p.lead.pull-right
      %strong= @item["cost_range"]

  %h2
    = @item["name"]
    %span.mani= "by #{@item["manufacturer"]}"
  %h4.lead= @item["headline"]
  ~ @item["description"]
-if @item["images"] and @item["images"].any?
  #carousel_container{:style=>'display:none'}
    #left_scroll
      %i.fa.fa-chevron-left
    #carousel_inner
      %ul#carousel_ul
        -@item["images"].each do |image|
          %li
            %a{:href=>"/img/items/#{@item["id"]}/#{image}",:target=>'_blank'}
              %img{:src=>"/img/items/#{@item["id"]}/t#{image}",:style=>'height:150px;width:auto;display:none;'}
    #right_scroll
      %i.fa.fa-chevron-right

%p
  %strong Specifications
~ @item["tech_specs"]

